# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Node
node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Optional: coverage/test
.coverage
htmlcov/